@use "styles";

$background: #ffffff;
$btn-color: #4d88c0;
$border-color: #000000;
$border-color-grey: #2c2b2b;

.container-flex {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  height: 100vh;
}
.column-right {
  flex: 2;
  background-color: $background;
}

.column-left {
  flex: 1;
  background-color: $background;
}

.column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .img {
    margin-top: 5px;
    width: 50%;
  }
}

.form-area {
  margin-top: 80px;

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 20px 30px -20px $border-color,
      0 20px 30px 0px $border-color-grey;
  }
  label {
    margin-top: 10px;
  }

  .form-field {
    margin-top: 2px;
    padding: 5px;
  }

  .btn {
    background-color: $btn-color;
    margin-top: 15px;
    padding: 5px;
    color: $background;
    border: none;
  }
}

@media only screen and (max-width: 900px) {
  .container-flex {
    flex-direction: column;
    width: 100%;
  }
  .wrapper {
    margin: 0 0 0.1rem;
  }
}
