@use "styles";

$background: #ffffff;
$btn-color: #4d88c0;

.container-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 0.5%;
}
.column-right {
  flex: 2;
  border: 1px solid black;
  background-color: $background;
}
.column-left {
  flex: 1;
  border: 1px solid black;
  background-color: $background;
}

.column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .img {
    margin-top: 10px;
    width: 40%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: right;
  margin: 20px auto;
  padding: 20px;

  label {
    margin-top: 10px;
  }
  .form-field {
    margin-top: 2px;
  }

  .btn {
    background-color: $btn-color;
    margin-top: 10px;
    padding: 5px;
    color: $background;
    border: none;
  }
}

@media only screen and (max-width: 900px) {
  .container-flex {
    flex-direction: column;
    width: 100%;
  }
  .wrapper {
    margin: 0 0 0.1rem;
  }
}
