@use "styles";

$background: #ffffff;
$orange-color: #ff9d1c;
$border-color: #000000;
$grey_color: #3e3e3d;
$border-color-grey: #2c2b2b;

header {
  background: $background;
  padding: 1em 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav_list {
  margin: 0;
  padding: 25px;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav_item {
  + {
    .nav_item {
      margin-left: 1em;
    }
  }
}
.nav_link {
  color: $grey_color;
  text-decoration: none;

  &:hover {
    color: $orange-color;
  }
}

.container-flex {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  height: 100vh;
}
.column-right {
  flex: 2;
  background-color: $background;
}

.column-left {
  flex: 1;
  background-color: $background;
}

.column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .img {
    margin-top: 5px;
    width: 50%;
  }
}

.form-area {
  margin-top: 80px;

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
    padding: 40px;
    box-shadow: 0 20px 30px -20px $border-color,
      0 20px 30px 0px $border-color-grey;
  }

  .form-field {
    margin-top: 20px;
    padding: 8px;
    border-radius: 10em;
    border: $border-color-grey 0.1px;
  }

  .btn {
    background-color: $orange-color;
    margin-top: 15px;
    padding: 5px;
    color: $background;
    border: none;
    border-radius: 10em;
  }
}

@media only screen and (max-width: 900px) {
  .container-flex {
    flex-direction: column;
    width: 100%;
  }

  .form {
    width: 30%;
  }
  .wrapper {
    margin: 0 0 0.1rem;
  }
}
