body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.container > li {
  flex: 1;
  list-style: none;
}

.search {  
  flex: 1;  
}

.grade {
  display: flex;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  background-color: #131313;
  padding: 10px;

  .opacity {
    opacity:0.2;
    position: absolute;
  }

  img {
    max-width: 100%;
  }
}

.card {
  display: grid;
  text-align: center;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px #FF9D1C;
  background-color: #262627;
}

.card-description {
  position:relative;
  text-align: center;
  color: #FF9D1C ;
  margin: 12px auto;
  max-width: 200px;
  min-width: 200px;
  width: 25%;
  padding: 2px;
  font-size: 0.8em;

  &:hover { 
    opacity: 0.1;
  }
}

button {
  border-radius: 3px;
  background-color: #FF9D1C;
  color: white;
  margin: auto;

  &:hover {
    opacity: 1;
  }
}